@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 0;
  scrollbar-width: none;
}
body {
  /* overflow-x: hidden; */
  box-sizing: border-box;
  /* background: #000; */
  overflow-x: hidden;
  max-width: 100vw;
}

@layer utilities {
  .small {
    @apply rounded-full border bg-light w-fit px-4 py-1;
  }
  .page-style {
    @apply min-h-screen mt-20 md:mt-36;
  }
}
